
<div><%= link_to 'Back to image URLs', images_path %></div>
<div><%= button_to 'Delete Image', image_path, method: :delete, data: { confirm: 'Are you sure?'} %></div>
<br>
<div class='tag_list'><b>Image tags: </b><%= @image.tag_list.presence || 'NADA' %></div>
<br>
<div><%= image_tag @image.url %></div>
